@charset "utf-8";

* {padding:0; margin:0; box-sizing:border-box;}
html {scroll-behavior:smooth;}
html,body {font:10pt/190%  'Nanum Gothic', sans-serif;}

.gugi-regular {
	font-family: "Gugi", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  

/*전체 레이아웃*/
#layout {max-width:500px; margin:auto; position:relative;}
a {text-decoration:none; color:black;}
img {max-width:100%;} 

/*상단*/
header {background:#499b00; color:white; display:flex; padding:15px;}
header>button {border:none;background:transparent; color:white;}
header>h1 {flex:1; text-align:center;}

/*메뉴*/
#body {padding:10px 10px 0 10px; position:relative;}
#body>nav {position:absolute; width:100%; left:0; top:0; background:white; height:70vh; box-shadow:0 5px 10px rgba(0,0,0, 0.5); display:none;}
#body ul	{list-style:none inside url("../images/bullet.png"); }
#body ul>li	{border-bottom:1px solid #ddd; padding:20px; padding-left:30px;}

/*메인*/
main>h2	{padding-top:30px; padding-bottom:10px; font-family: "Gugi", sans-serif;}
main>p	{text-align:justify;}
main>p>img	{width:150px;}
main>p:first-of-type>img {float:right; margin-left:10px;}
main>p:last-of-type>img  {float:left; margin-right:10px;}
main>p::first-letter {font-size:1.5rem; font-weight:bold; color:#499b00;}

main>ol	{color:#499b00; list-style-position:inside; margin-bottom:10px; background:url("../images/bg.jpg") no-repeat left bottom / contain;}

main>figure {margin-top:20px;}
main>figure>img {width:95%; margin:auto; display:block; border-radius:20px; box-shadow:2px 2px 5px black;}
main>figure>figcaption {font-size:0.9rem; text-align:center; padding-top:5px;}

/* 부가정보 */
div+aside	{max-width:500px; margin:auto;padding:15px; background:#e2ef97; margin-top:20px;}
div+aside>h2::before {content:url("../images/bullet.png"); margin-right:5px; display:inline-block; transform:translateY(-3px); }
aside>h2 {font-family: "Gugi", sans-serif;}

/* 하단 */
footer {text-align: center; max-width:500px; margin:auto; padding:15px; background:#ddd; }
footer>p {font-style: italic;}


/* 위로 */
#layout>a	{position:fixed; right:calc(((100% - 500px) / 2 ) + 5px); bottom:10px; background:white; box-shadow:0 0 5px black; border-radius:5px;}
#layout>a:hover {background:#e2ef97}

/***********************************************/
/*넓이가 500픽셀 이하인 기계장치*/
@media(max-width:500px) {
		#layout>a {right:5px;}
}




